In [1]:
import pandas as pd
import numpy as np

### data cleaning:

In [2]:
df_obesity = pd.read_csv("obesity.csv" , sep=",")

In [3]:
df_obesity.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [4]:
del df_obesity['Unnamed: 0']

In [5]:
df_obesity.columns

Index(['Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [6]:
df_obesity.columns = ['País', 'Ano', 'Obesidade(%)', 'Sexo']

In [7]:
df_obesity.columns

Index(['País', 'Ano', 'Obesidade(%)', 'Sexo'], dtype='object')

In [8]:
df_obesity.select_dtypes(include = 'int').isnull().sum()

Ano    0
dtype: int64

In [9]:
df_obesity.head()

          País   Ano   Obesidade(%)        Sexo
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [10]:
df_obesity['Obesidade(%)']

0           0.5 [0.2-1.1]
1           0.2 [0.0-0.6]
2           0.8 [0.2-2.0]
3           0.5 [0.2-1.1]
4           0.2 [0.0-0.7]
               ...
24565       4.5 [2.4-7.6]
24566    24.8 [18.9-31.3]
24567    15.5 [12.0-19.2]
24568       4.7 [2.5-8.0]
24569    25.3 [19.1-32.0]
Name: Obesidade(%), Length: 24570, dtype: object

In [11]:
df_obesity['Obesidade(%)'] = df_obesity['Obesidade(%)'].apply( lambda x: x.split()[0])

In [12]:
df_obesity.head()

          País   Ano Obesidade(%)        Sexo
0  Afghanistan  1975          0.5  Both sexes
1  Afghanistan  1975          0.2        Male
2  Afghanistan  1975          0.8      Female
3  Afghanistan  1976          0.5  Both sexes
4  Afghanistan  1976          0.2        Male

In [13]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   País          24570 non-null  object
 1   Ano           24570 non-null  int64
 2   Obesidade(%)  24570 non-null  object
 3   Sexo          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 767.9+ KB

In [14]:
#df_obesity['Obesidade(%)'] = pd.to_numeric(df_obesity['Obesidade(%)'])

In [15]:
#filtro =df_obesity['Obesidade(%)'].str.contains("No")
#df_obesity[filtro]

In [16]:
df_obesity['Obesidade(%)'] = df_obesity['Obesidade(%)'].replace("No", np.nan)

In [17]:
df_obesity['Obesidade(%)'] = pd.to_numeric(df_obesity['Obesidade(%)'])

In [18]:
df_obesity['Obesidade(%)'].isnull().sum()

504

In [19]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   País          24570 non-null  object
 1   Ano           24570 non-null  int64
 2   Obesidade(%)  24066 non-null  float64
 3   Sexo          24570 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 767.9+ KB

### - Questões:

 1. Quais são os cinco países com as maiores e menores taxas nos índices de obesidade durante o período observado?

In [20]:
df_obesity[df_obesity.Sexo =='Both sexes'].groupby(['País'])[['Obesidade(%)']].mean().sort_values(by='Obesidade(%)', ascending = False)[:5]

                  Obesidade(%)
País
Nauru                53.042857
Palau                42.080952
Cook Islands         41.816667
Marshall Islands     40.454762
Tuvalu               35.080952

In [21]:
df_obesity[df_obesity.Sexo =='Both sexes'].groupby(['País'])[['Obesidade(%)']].mean().sort_values(by='Obesidade(%)', ascending = True)[:5]

             Obesidade(%)
País
Viet Nam         0.690476
Bangladesh       1.290476
Timor-Leste      1.347619
Cambodia         1.433333
Nepal            1.526190

2. Qual era a média percentual de obesidade por sexo no mundo em 2015?

In [22]:
df_obesity[((df_obesity.Ano == 2015) & (df_obesity.Sexo == 'Male')) ]['Obesidade(%)'].mean()

15.980628272251304

In [23]:
df_obesity[((df_obesity.Ano == 2015) & (df_obesity.Sexo == 'Female')) ]['Obesidade(%)'].mean()

22.899476439790575

3. Quais são os países com as menores taxas de obesidade no ano de 2010?

In [24]:
filtro_2010 = df_obesity[((df_obesity.Ano == 2010) & (df_obesity.Sexo == 'Male'))] #sexo masculino

In [25]:
filtro_2010.sort_values(by = 'Obesidade(%)', ascending = True)[:10] #maiores taxas de obesidade em 2015

              País   Ano  Obesidade(%)  Sexo
24172     Viet Nam  2010           0.9  Male
22912       Uganda  2010           1.3  Male
7540      Ethiopia  2010           1.3  Male
18250       Rwanda  2010           1.3  Male
7162       Eritrea  2010           1.4  Male
1744    Bangladesh  2010           1.5  Male
3508       Burundi  2010           1.5  Male
12958       Malawi  2010           1.6  Male
15730        Niger  2010           1.7  Male
21904  Timor-Leste  2010           1.7  Male

In [26]:
filtro_2010 = df_obesity[((df_obesity.Ano == 2010) & (df_obesity.Sexo == 'Female'))]

In [27]:
filtro_2010.sort_values(by = 'Obesidade(%)', ascending = True)[:10]

                                   País   Ano  Obesidade(%)    Sexo
24173                          Viet Nam  2010           1.7  Female
10943                             Japan  2010           3.1  Female
3761                           Cambodia  2010           3.5  Female
21905                       Timor-Leste  2010           3.5  Female
1745                         Bangladesh  2010           3.6  Female
9935                              India  2010           3.8  Female
15227                             Nepal  2010           3.9  Female
17621                 Republic of Korea  2010           4.2  Female
11825  Lao People's Democratic Republic  2010           4.7  Female
4517                              China  2010           5.0  Female

4. Qual é a diferença de obesidade entre os sexos ao longo dos anos no Brasil?

In [28]:
filtro_brazil = df_obesity[((df_obesity.País == 'Brazil') & (df_obesity.Sexo == 'Both sexes'))]

In [29]:
Diferença = filtro_brazil['Obesidade(%)'].diff().abs()

In [30]:
Diferença.mean() #média da diferença de obesidade ao longo dos anos que foram registrados.

0.4121951219512195

In [31]:
filtro_brazil.loc[: , 'Diferença(%)'] = Diferença

C:\Users\Khalil Gibran\AppData\Local\Temp\ipykernel_14924\2096373306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_brazil.loc[: , 'Diferença(%)'] = Diferença

In [32]:
filtro_brazil.head()

        País   Ano  Obesidade(%)        Sexo  Diferença(%)
2898  Brazil  1975           5.2  Both sexes           NaN
2901  Brazil  1976           5.5  Both sexes           0.3
2904  Brazil  1977           5.7  Both sexes           0.2
2907  Brazil  1978           6.0  Both sexes           0.3
2910  Brazil  1979           6.3  Both sexes           0.3