In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("GDP.csv", sep= "," )

In [33]:
df.columns

Index(['Country', 'Region', 'Year', ' GDP_pp '], dtype='object')

In [3]:
df.columns = ["País", "Região", "Ano", "PIB_pp"]

In [4]:
df.columns

Index(['País', 'Região', 'Ano', 'PIB_pp'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4419 entries, 0 to 4418
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   País    4419 non-null   object
 1   Região  4419 non-null   object
 2   Ano     4419 non-null   object
 3   PIB_pp  4419 non-null   object
dtypes: object(4)
memory usage: 138.2+ KB

In [27]:
df.Ano = pd.to_datetime(df.Ano)

In [30]:
df.Ano = df.Ano.dt.year

In [32]:
df.head()

          País                                         Região   Ano    PIB_pp
0  Afghanistan  Middle East, North Africa, and Greater Arabia  1901   613.99
1  Afghanistan  Middle East, North Africa, and Greater Arabia  1906   624.04
2  Afghanistan  Middle East, North Africa, and Greater Arabia  1911   634.25
3  Afghanistan  Middle East, North Africa, and Greater Arabia  1916   647.28
4  Afghanistan  Middle East, North Africa, and Greater Arabia  1921   662.40

In [34]:
df.PIB_pp = pd.to_numeric(df.PIB_pp)

ValueError: Unable to parse string " 1,030.89 " at position 17

In [35]:
df.PIB_pp =  df.PIB_pp.str.replace(",", "")

In [37]:
df.PIB_pp = pd.to_numeric(df.PIB_pp)

for i in df.GDP_pp:
    print(i)

In [41]:
df.PIB_pp.isnull().sum()

0

In [42]:
df.duplicated().sum()

0

In [43]:
df.isnull().sum()

País      0
Região    0
Ano       0
PIB_pp    0
dtype: int64

## Questões:

 #### -  Informe o primeiro valor registrado do PIB per capita de cada país:

In [52]:
df.groupby("País")[['PIB_pp']].min()

              PIB_pp
País
Afghanistan   595.04
Albania      1062.01
Algeria      1807.76
Andorra      3352.50
Angola        525.76
...              ...
Venezuela     766.21
Vietnam       572.96
Yemen, Rep.   729.39
Zambia        532.38
Zimbabwe      385.69

[193 rows x 1 columns]

#### - Todos os registros dos paises começam em 1901 ?

In [119]:
df.groupby("País")[['Ano']].min().max()

Ano    1991
dtype: int64

In [121]:
primeiro_ano = df.groupby("País")[['Ano']].min()

In [125]:
Series = df.groupby("País")['Ano'].min()

In [127]:
primeiro_ano[Series.isin([1991])]

         Ano
País
Kosovo  1991

In [167]:
#df.groupby('Região')[['PIB_pp']].mean().sort_values(by ='PIB_pp' , ascending = False )

In [168]:
#internalo_ano = df.Ano.between(1901, 2000)

In [169]:
#grafico = df[internalo_ano].groupby('Região')[['PIB_pp']].mean().sort_values(by='PIB_pp' , ascending = False)

#### - Quais foram as regiões que tiveram os maiores crescimentos percentuais no PIB per capita durante o século passado?

In [159]:
 resultado = (df[df.Ano == 1996].groupby("Região")['PIB_pp'].mean() - df[df.Ano == 1901].groupby("Região")['PIB_pp'].mean()) / df[df.Ano == 1901].groupby("Região")['PIB_pp'].mean()

In [164]:
resultado.to_frame().sort_values(by = 'PIB_pp' , ascending = False)*100

                                                   PIB_pp
Região
Middle East, North Africa, and Greater Arabia  857.215950
Asia                                           711.761516
Europe                                         594.046167
North America                                  589.760175
Central America and the Caribbean              406.426789
Australia and Oceania                          396.075383
South America                                  312.123735
Sub-Saharan Africa                             248.633780