In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obesity = pd.read_csv("obesity.csv" , sep=",")

In [3]:
df_obesity.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [4]:
del df_obesity['Unnamed: 0']

In [5]:
df_obesity.columns

Index(['Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [6]:
df_obesity.columns = ['País', 'Ano', 'Obesidade(%)', 'Sexo']

In [7]:
df_obesity.columns

Index(['País', 'Ano', 'Obesidade(%)', 'Sexo'], dtype='object')

In [8]:
df_obesity.select_dtypes(include = 'int').isnull().sum()

Ano    0
dtype: int64

In [9]:
df_obesity.head()

          País   Ano   Obesidade(%)        Sexo
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [10]:
df_obesity['Obesidade(%)']

0           0.5 [0.2-1.1]
1           0.2 [0.0-0.6]
2           0.8 [0.2-2.0]
3           0.5 [0.2-1.1]
4           0.2 [0.0-0.7]
               ...
24565       4.5 [2.4-7.6]
24566    24.8 [18.9-31.3]
24567    15.5 [12.0-19.2]
24568       4.7 [2.5-8.0]
24569    25.3 [19.1-32.0]
Name: Obesidade(%), Length: 24570, dtype: object

In [11]:
df_obesity['Obesidade(%)'] = df_obesity['Obesidade(%)'].apply( lambda x: x.split()[0])

In [12]:
df_obesity.head()

          País   Ano Obesidade(%)        Sexo
0  Afghanistan  1975          0.5  Both sexes
1  Afghanistan  1975          0.2        Male
2  Afghanistan  1975          0.8      Female
3  Afghanistan  1976          0.5  Both sexes
4  Afghanistan  1976          0.2        Male

In [13]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   País          24570 non-null  object
 1   Ano           24570 non-null  int64
 2   Obesidade(%)  24570 non-null  object
 3   Sexo          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 767.9+ KB

In [14]:
df_obesity['Obesidade(%)'] = pd.to_numeric(df_obesity['Obesidade(%)'])

ValueError: Unable to parse string "No" at position 14112

In [ ]:
#filtro =df_obesity['Obesidade(%)'].str.contains("No")
#df_obesity[filtro]

In [15]:
df_obesity['Obesidade(%)'] = df_obesity['Obesidade(%)'].replace("No", np.nan)

In [22]:
df_obesity['Obesidade(%)'] = pd.to_numeric(df_obesity['Obesidade(%)'])

In [25]:
df_obesity['Obesidade(%)'].isnull().sum()

504

- Questões:

In [ ]:
1.

In [74]:
df_obesity[df_obesity.Sexo =='Both sexes'].groupby(['País'])[['Obesidade(%)']].mean().sort_values(by='Obesidade(%)', ascending = False)[:5]

                  Obesidade(%)
País
Nauru                53.042857
Palau                42.080952
Cook Islands         41.816667
Marshall Islands     40.454762
Tuvalu               35.080952

In [75]:
df_obesity[df_obesity.Sexo =='Both sexes'].groupby(['País'])[['Obesidade(%)']].mean().sort_values(by='Obesidade(%)', ascending = True)[:5]

             Obesidade(%)
País
Viet Nam         0.690476
Bangladesh       1.290476
Timor-Leste      1.347619
Cambodia         1.433333
Nepal            1.526190

2.

In [102]:
filtro_2015 = df_obesity[(df_obesity.Ano == 2015) & (df_obesity.Sexo != Both sexes)]

SyntaxError: invalid syntax (890696570.py, line 1)

In [100]:
filtro_2015 #.sort_values(by = 'Obesidade(%)', ascending = False)[:15]

                   País   Ano  Obesidade(%)        Sexo
15116             Nauru  2015          63.1      Female
15114             Nauru  2015          60.7  Both sexes
5036       Cook Islands  2015          58.8      Female
16502             Palau  2015          58.4      Female
15115             Nauru  2015          58.2        Male
13604  Marshall Islands  2015          56.9      Female
22802            Tuvalu  2015          55.6      Female
5034       Cook Islands  2015          55.4  Both sexes
16500             Palau  2015          54.8  Both sexes
18770             Samoa  2015          54.5      Female
15998              Niue  2015          54.5      Female
22172             Tonga  2015          53.9      Female
13602  Marshall Islands  2015          52.4  Both sexes
5035       Cook Islands  2015          52.0        Male
16501             Palau  2015          51.1        Male